// Recommended
@import "mixins";

@layer base, layouts, components, utils, overrides;

@layer base {
  // https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap
  /* latin-ext */
  @font-face {
    font-family: "Crimson Pro";
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/crimsonpro/v24/q5uBsoa5M_tv7IihmnkabARekY1wDeChrlWhBw.woff2)
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Crimson Pro";
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/crimsonpro/v24/q5uBsoa5M_tv7IihmnkabARekYNwDeChrlU.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: "Crimson Pro";
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/crimsonpro/v24/q5uDsoa5M_tv7IihmnkabARVoYF6CsKjnlQ.woff2)
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Crimson Pro";
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/crimsonpro/v24/q5uDsoa5M_tv7IihmnkabARboYF6CsKj.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: system-ui, sans-serif;
    line-height: 1.5;

    --surface-black: rgb(25, 28, 32);
    --color-white: #ffffff;
    --color-green-soft: #b7f6dc;
    --color-gray: #f2f2f2;
    --color-blue: #232fcd;
  }

  body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    line-height: 1.1;
    text-wrap: balance;
  }

  :where(input, textarea, button) {
    font: inherit;
    line-height: 1.1;
  }

  :where(button) {
    padding: 1rem;
  }

  :where(button:not(:disabled)) {
    cursor: pointer;
  }

  :where(input:not([type="radio"], [type="checkbox"])),
  :where(textarea) {
    padding: 1rem;
  }

  :where(img) {
    max-inline-size: 100%;
    display: block;
  }

  :where(a) {
    color: inherit;
    text-underline-offset: 0.3rem;
  }

  .title {
    --_title-wght: var(--title-wght, 500);
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: var(--_title-wght);
    font-style: normal;
  }
}

@layer layout {
  .wrapper {
    max-inline-size: 1240px;
    padding-inline: 2.4rem;
    margin-inline: auto;
  }
}

@layer components {
  .mark {
    display: inline-block;
    background-color: var(--color-green-soft);
    padding-inline: 0.1em;
    font-style: italic;
  }

  .c-call-to-action {
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--surface-black);
    border-radius: 6px;
    border: solid 1px var(--surface-black);
    transition: all 160ms linear;
    &:hover,
    &:focus-visible {
      background-color: var(--color-white);
      color: var(--surface-black);
    }
  }

  .flow {
    --_spacing: var(--spacing, 2.4rem);
    & > * {
      margin-block: 0;
    }
    & > * + * {
      margin-block-start: var(--_spacing);
    }
  }
}

@layer components {
  .c-pills {
    display: flex;
    flex-flow: row wrap;
    gap: 0.8rem;
  }
  .c-pill {
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 0.825em;
    display: inline-block;
    padding: 0.4rem 1.6rem;
    border-radius: 100vw;
    text-decoration: none;
    background-color: var(--surface-black);
    color: var(--color-white);
    border: solid 1px var(--surface-black);
    transition: all 140ms linear;
    &:hover,
    &:focus-visible {
      background-color: var(--color-white);
      color: var(--surface-black);
    }
  }
}

@layer utils {
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 100ms linear;
  }
}
